---
import type { Project } from "@/lib/types";
import Image from "astro/components/Image.astro";
import ogs from "open-graph-scraper";

let data: Project;

const { url } = Astro.props;
const res = await ogs({ url });
const { ogTitle, ogDescription, ogImage } = res.result;
const [image] = ogImage || [];

data = {
  title: ogTitle || url,
  description: ogDescription || "",
  url,
  image: image?.url.replace(".jpg", ".png"),
};
---

<article
  class="flex h-full items-start gap-8 rounded-md border border-stone-900 bg-stone-950 p-8 shadow-xl shadow-black"
>
  {
    data.image && (
      <Image
        src={data.image}
        alt={data.title}
        width={128}
        height={128}
        class="relative z-20 rounded-lg shadow-xl"
      />
    )
  }

  <div>
    <h3 class="text-xl text-gray-200">{data.title}</h3>
    <p>{data.description}</p>
    <a href={url} target="_blank" rel="noopener noreferrer" class="text-sm">
      <span class="text-stone-900">View project</span>
    </a>
  </div>
</article>
