---
import Github from "@/lib/Github.astro";
import Link from "@/lib/Link.astro";

const { data } = Astro.props;
const { url, title, description, image, technologies, github } = data;
---

<article
  class="flex h-full flex-col items-start gap-8 rounded-md border border-stone-900 bg-stone-950 p-6 md:p-8 shadow-xl shadow-black md:flex-row"
>
  <picture
    class="flex size-9 items-center justify-center rounded-full border border-stone-900"
  >
    <object data={image} class="flex size-8 items-center justify-center p-1">
      <img src="./globe.svg" alt="No image" class="size-8 p-1" />
    </object>
  </picture>

  <div class="flex h-full flex-col justify-between">
    <div>
      <h3 class="text-lg text-gray-200 md:text-xl">
        {title}
      </h3>

      <p class="text-sm md:text-base">{description}</p>
    </div>

    <div class="mt-4 flex items-center justify-between gap-1">
      <ul class="flex gap-1">
        {
          technologies.map((tech: string) => (
            <li class="inline-block rounded-md bg-stone-900 px-2 py-1 text-xs capitalize text-stone-200">
              {tech}
            </li>
          ))
        }
      </ul>

      <div class="flex items-center gap-1">
        <a
          href={url}
          target="_blank"
          rel="noopener noreferrer"
          class="p-2 transition-transform hover:scale-110"
        >
          <Link class="size-5 text-gray-600" />
          <span class="sr-only">View project</span>
        </a>

        {
          github && (
            <a
              href={github}
              target="_blank"
              rel="noopener noreferrer"
              class="p-2 transition-transform hover:scale-110"
            >
              <Github class="size-5 text-gray-600" />
              <span class="sr-only">Github</span>
            </a>
          )
        }
      </div>
    </div>
  </div>
</article>
